* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 10px 20px;
  background: rgb(238, 238, 238);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  margin-bottom: 15px;
}

/* Targets the leaflet component */
.leaflet-container {
  min-height: 600px;
  width: auto;
  border: 1px solid rgb(77, 76, 76);
}

/* municipality detail page */
.m-container {
  margin-top: 10px;
}
.hr {
  display: inline-block;
}
.hr:after {
  content: '';
  display: block;
  border-top: 1px solid black;
  margin-top: 0.25em;
}
