* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 20px;
  background: rgb(238, 238, 238);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  margin-bottom: 15px;
}

/*Targets the leaflet component*/
.leaflet-container {
  min-height: 600px;
  width: auto;
  border: 1px solid rgb(77, 76, 76);
}
