{{page-title "Ember Leaflet Tracker"}}

<h1>Linked Open Data Challenge</h1>

<p>Zoek uw gemeente op de kaart en klik erop om meer informatie te krijgen over de besluiten die er genomen werden.</p>

{{outlet}}